<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Bienvenido</title>
</head>
<body>
<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p>¡Bienvenido! A través de esta aplicación usted podrá gestionar su negocio.</p>
</div>
</body>
</html>
